* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

#error {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  height: 300px;
  background: white;
  border-radius: 20px;
  box-shadow: 1px -1px 3px 1px rgba(0,0,0,0.25);
  padding: 15px;
}

#header, #footer {
  background: #17a2b8;

  .logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 5px 0;
    text-decoration: none;

    img {
      max-width: 60px;
      max-height: 60px;
      margin-right: 15px;
    }
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    li {
      display: flex;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 25px;
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      transition: all 200ms ease-out;

      &:hover {
        background: #fff;
        color: #17a2b8;
      }
    }
  }
}

#footer {
  .logo img {
    margin-left: 15px;
    margin-right: 0;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
}